<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="img/franda.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title><%= title %></title>
  </head>

  <body class="container" style="background-color: #f7f7f7;">
  <%- include('nav') %> 

  <div class="d-flex justify-content-center">
    <script type="text/javascript">
      atOptions = {
        'key' : '9ec883aa573a25a436d4b37dcb52f565',
        'format' : 'iframe',
        'height' : 90,
        'width' : 728,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://traditionallyobjectlessblinked.com/9ec883aa573a25a436d4b37dcb52f565/invoke.js"></scr' + 'ipt>');
    </script>
  </div>

  <div>
      <br>
      <%- body %> 
  </div>
  <br>
  <center>
    <script type="text/javascript">
      atOptions = {
        'key' : '6d299817e6df83c057480507db3e0f7c',
        'format' : 'iframe',
        'height' : 50,
        'width' : 320,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://traditionallyobjectlessblinked.com/6d299817e6df83c057480507db3e0f7c/invoke.js"></scr' + 'ipt>');
    </script>
  </center>
  <br>

  <center>
    <script type="text/javascript">
      atOptions = {
        'key' : 'dee83a01304a98e48cdbdd85a35cc3f4',
        'format' : 'iframe',
        'height' : 250,
        'width' : 300,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://traditionallyobjectlessblinked.com/dee83a01304a98e48cdbdd85a35cc3f4/invoke.js"></scr' + 'ipt>');
    </script>
  </center>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

  <footer>
    <br>
    <p class="text-center">
      <i>(Segala bentuk transaksi di jam 22.00 - 08.00 WIB slow respon)</i>
      Copyright by <a href="https://www.instagram.com/franda_store">Franda Store</a>
    </p>
  </footer>
</html>