<h5><center>Selamat Datang Dinda Cantik :3</center></h5>
<br>
<% if (message) {%> 
    <div class="alert <%= messageClass %>" role="alert">
        <%= message %> 
    </div>
<% } %> 
<div class="d-flex justify-content-center">
    <div class="card" style="width: 400px; height: 320; background-color: white;">
        <div class="card-body">
            <form method="POST" action="/cuma-Dinda-Cantik-yangbisamasuk">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label>Tambah Saldo</label>
                    <input type="text" class="form-control" id="fPay" name="fPay" placeholder="Tambahkan fPay">
                </div>
                <div class="form-group">
                    <label>Kurangi Saldo</label>
                    <input type="text" class="form-control" id="fPay" name="minfPay" placeholder="Kurangi fPay">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary container">Proses Saldo</button>
                </div>
            </form>
        </div>
    </div>
</div>