<div class="d-flex justify-content-center">
    <form>
        <div class="card" style="width: 300px; height: 320; background-color: white; border-color: blue;">
            <div class="card-body">
                <div class="form-group">
                    <label for="id"><strong>ID Pemain</strong></label>
                    <input style="border-color: blue;" type="id" class="form-control" id="id" placeholder="ID Pemain" required>
                </div>
            </div>
            </a>
        </div>
        <br>

        <div class="card" style="width: 300px; height: 320; background-color: white; border-color: blue;">
            <div class="card-body">
                <div class="form-group">
                    <label for="id"><strong>Nominal Top Up</strong></label>
                    <br>
                    <br>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                          <p><strong>20 Diamonds</strong> : Rp 4.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option1" checked>
                        <label class="form-check-label" for="gridRadios2">
                          <p><strong>50 Diamonds</strong> : Rp 8.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option1" checked>
                        <label class="form-check-label" for="gridRadios3">
                          <p><strong>70 Diamonds</strong> : Rp 10.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option1" checked>
                        <label class="form-check-label" for="gridRadios4">
                          <p><strong>100 Diamonds</strong> : Rp 16.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option1" checked>
                        <label class="form-check-label" for="gridRadios5">
                          <p><strong>140 Diamonds</strong> : Rp 20.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="option1" checked>
                        <label class="form-check-label" for="gridRadios6">
                          <p><strong>210 Diamonds</strong> : Rp 32.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios7" value="option1" checked>
                        <label class="form-check-label" for="gridRadios7">
                          <p><strong>355 Diamonds</strong> : Rp 50.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios8" value="option1" checked>
                        <label class="form-check-label" for="gridRadios8">
                          <p><strong>720 Diamonds</strong> : Rp 99.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios9" value="option1" checked>
                        <label class="form-check-label" for="gridRadios9">
                          <p><strong>1440 Diamonds</strong> : Rp 195.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios10" value="option1" checked>
                        <label class="form-check-label" for="gridRadios10">
                          <p><strong>2000 Diamonds</strong> : Rp 285.000</p>
                        </label>
                    </div>
                    <hr>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios11" value="option1" checked>
                        <label class="form-check-label" for="gridRadios11">
                          <p><strong>Mingguan</strong> : Rp 31.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios12" value="option1" checked>
                        <label class="form-check-label" for="gridRadios12">
                          <p><strong>Bulanan</strong> : Rp 120.000</p>
                        </label>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <br>
        
        <button style="width: 300px;" type="submit" class="btn btn-primary"><strong>B E L I</strong></button>
    </form>
</div>