<h5><center>Top Up Free Fire</center></h5>
<br>
<div class="d-flex justify-content-center">
    <form method="POST" action="/transaction">
        <div class="card" style="width: 400px; height: 320; background-color: white;">
            <div class="card-body">
                <div class="form-group">
                    <label for="id"><strong>Player ID</strong></label>
                    <input type="id" class="form-control" id="id" name="id" placeholder="Player ID" required>
                </div>
            </div>
        </div>
        <br>

        <div class="card" style="width: 400px; height: 320; background-color: white;">
            <div class="card-body">
                <div class="form-group">
                    <label for="id"><strong>Nominal Top Up</strong></label>
                    <br>
                    <br>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="FF, 20 Dm, Rp 4.000" checked>
                        <label class="form-check-label" for="gridRadios1">
                          <p><strong>20 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 4.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="FF, 50 Dm, Rp 9.000" checked>
                        <label class="form-check-label" for="gridRadios2">
                          <p><strong>50 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 9.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="FF, 70 Dm, Rp 10.000" checked>
                        <label class="form-check-label" for="gridRadios3">
                          <p><strong>70 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 11.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="FF, 100 Dm, Rp 16.000" checked>
                        <label class="form-check-label" for="gridRadios4">
                          <p><strong>100 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 16.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="FF, 140 Dm, Rp 22.000" checked>
                        <label class="form-check-label" for="gridRadios5">
                          <p><strong>140 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 22.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="FF, 210  Dm, Rp 32.000" checked>
                        <label class="form-check-label" for="gridRadios6">
                          <p><strong>210 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 32.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios7" value="FF, 355 Dm, Rp 52.000" checked>
                        <label class="form-check-label" for="gridRadios7">
                          <p><strong>355 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 52.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios8" value="FF, 720  Dm, Rp 100.000" checked>
                        <label class="form-check-label" for="gridRadios8">
                          <p><strong>720 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 100.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios9" value="FF, 1440 Dm, Rp 199.000" checked>
                        <label class="form-check-label" for="gridRadios9">
                          <p><strong>1440 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; Rp 199.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios10" value="FF, 2000 Dm, Rp 290.000" checked>
                        <label class="form-check-label" for="gridRadios10">
                          <p><strong>2000 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; Rp 290.000</p>
                        </label>
                    </div>
                    <hr>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios11" value="FF, Mingguan, Rp 32.000" checked>
                        <label class="form-check-label" for="gridRadios11">
                          <p><strong>Mingguan</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; Rp 32.000</p>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios12" value="FF, Bulanan, Rp 120.000" checked>
                        <label class="form-check-label" for="gridRadios12">
                          <p><strong>Bulanan</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 120.000</p>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary container"><strong>B E L I</strong></button>
        <p><center>Mahal-mahal ya? Cek harga <a href="/reseller-preview/ff-menu">Reseller</center></a></p>
    </form>
</div>