<h5>Game Populer</h5>
<div class="row">
    <div class="card" style="margin: 2%; width: 102px; height: 180px;">
        <a href="/ff-menu">
        <img class="card-img-top" src="img/ff-icon.jpg" style="width: 100px;">
        <div class="card-body">
            <p style="text-align: left;">Free Fire</p>
        </div>
        </a>
    </div>
    <div class="card" style="margin: 2%; width: 102px; height: 180px;">
        <a href="/ml-menu">
        <img class="card-img-top" src="img/ml-icon.jpg" style="width: 100px;">
        <div class="card-body">
            <p style="text-align: left;">Mobile Legends</p>
        </div>
        </a>
    </div>
</div>