<h5><center>Top Up Mobile Legends</center></h5>
<br>
<div class="d-flex justify-content-center">
    <form method="POST" action="/transaction">
        <div class="card" style="width: 400px; height: 320; background-color: white;">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-8">
                        <label for="id"><strong>Player ID</strong></label>
                        <input type="id" class="form-control" id="id" name="id" placeholder="Player ID" required>
                        <input type="hidden" class="form-control" id="id" name="game" value="Mobile Legends Diskon" required>
                    </div>
                    <div class="col">
                        <label for="id"><strong>Server ID</strong></label>
                        <input type="id" class="form-control" name="serverId" placeholder="Server ID">
                    </div>
                  </div>
            </div>
        </div>
        <br>

        <div class="card" style="width: 400px; height: 320; background-color: white;">
            <div class="card-body">
                <div class="form-group">
                    <label for="id"><strong>Nominal Top Up</strong></label>
                    <br>
                    <br>

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="ML, 50 Dm, Rp 15.000" checked>
                      <label class="form-check-label" for="gridRadios1">
                        <p><strong>50 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Rp 15.000</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="ML, 85 Dm, Rp 25.000" checked>
                      <label class="form-check-label" for="gridRadios2">
                        <p><strong>85 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Rp 25.000</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="ML, 100 Dm, Rp 32.000" checked>
                      <label class="form-check-label" for="gridRadios3">
                        <p><strong>100 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 32.000</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="ML, 172 Dm, Rp 45.000" checked>
                      <label class="form-check-label" for="gridRadios4">
                        <p><strong>172 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 45.000</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="ML, 282 Dm, Rp 73.000" checked>
                      <label class="form-check-label" for="gridRadios5">
                        <p><strong>282 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 73.000</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="ML, 366 Dm, Rp 95.000" checked>
                      <label class="form-check-label" for="gridRadios6">
                        <p><strong>366 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 95.000</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios7" value="ML, 568 Dm, Rp 142.000" checked>
                      <label class="form-check-label" for="gridRadios7">
                        <p><strong>568 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&ensp; Rp 142.000</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios8" value="ML, 708 Dm, Rp 200.000" checked>
                      <label class="form-check-label" for="gridRadios8">
                        <p><strong>708 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&ensp; Rp 180.000</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios9" value="ML, 875 Dm, Rp 240.000" checked>
                      <label class="form-check-label" for="gridRadios9">
                        <p><strong>875 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;&emsp; Rp 225.000</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios10" value="ML, 966 Dm, Rp 270.000" checked>
                      <label class="form-check-label" for="gridRadios10">
                        <p><strong>966 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;&emsp; Rp 250.000</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios10" value="ML, 1446 Dm, Rp 360.000" checked>
                      <label class="form-check-label" for="gridRadios10">
                        <p><strong>1446 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 350.000</p>
                      </label>
                 </div>
                 <hr>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios12" value="ML, Starlight, Rp 145.000" checked>
                      <label class="form-check-label" for="gridRadios12">
                        <p><strong>Starlight</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; Rp 140.000</p>
                      </label>
                  </div>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary container"><strong>B E L I</strong></button>
        <p><center>Mahal-mahal ya? Cek harga <a href="/reseller-preview/ml-menu">Reseller</center></a></p>
    </form>
</div>