<div class="d-flex justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
</div>
<br>
<h5><center><%= user.name %></center></h5>
<div class="d-flex justify-content-center">
<div class="card" style="margin: 2%; width: 400px; height: 320; background-color: white">
    <div class="card-body">
        <p><center>Saldo F-Pay</center></p>
        <a href="/isi-saldo">
            <div class="card" style="text-align: center; padding: 5px;">
                <h5 style="text-align: center;">Rp <%= user.fPay %> </h5>
            </div>
        </a>
        <br>
        <p><%= user.email %> </p>
        <p><%= user.phone %> </p>
        <br>
        <div class="text-center">
            <a class="btn btn-danger" style="width: 350px;" href="/logout">Logout</a>
        </div>
    </div>
    </a>
</div>
</div>