<h5><center>Game Populer</center></h5>

<div class="d-flex justify-content-center">
    <div class="card" style="width: 400px; height: 320; background-color: white;">
        <div class="card-body">
            <div class="row">
                <div class="card" style="margin: 2%; width: 102px; height: 180px;">
                    <a href="/reseller/ff-menu">
                    <img class="card-img-top" src="img/ff-icon.jpg" style="width: 100px;">
                    <div class="card-body">
                        <small>Free Fire</small>
                    </div>
                    </a>
                </div>
                <div class="card" style="margin: 2%; width: 102px; height: 180px;">
                    <a href="/ml-menu">
                    <img class="card-img-top" src="img/ml-icon.jpg" style="width: 100px;">
                    <div class="card-body">
                        <small>Mobile Legends</small>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>