<h5><center>Top Up Free Fire</center></h5>
<br>
<div class="d-flex justify-content-center">
    <form method="POST" action="/res-transaction">
        <div class="card" style="width: 400px; height: 320; background-color: white;">
            <div class="card-body">
                <div class="form-group">
                    <label for="id"><strong>Player ID</strong></label>
                    <input type="id" class="form-control" id="id" name="id" placeholder="Player ID" required>
                    <input type="hidden" class="form-control" id="id" name="game" value="Free Fire" required>
                </div>
            </div>
        </div>
        <br>

        <div class="card" style="width: 400px; height: 320; background-color: white;">
            <div class="card-body">
                <div class="form-group">
                    <label for="id"><strong>Nominal Top Up</strong></label>
                    <br>
                    <br>

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="20" checked>
                      <label class="form-check-label" for="gridRadios1">
                        <p><strong>20 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 3.800</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="50" checked>
                      <label class="form-check-label" for="gridRadios2">
                        <p><strong>50 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 8.100</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="70" checked>
                      <label class="form-check-label" for="gridRadios3">
                        <p><strong>70 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 9.700</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="100" checked>
                      <label class="form-check-label" for="gridRadios4">
                        <p><strong>100 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 14.900</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="140" checked>
                      <label class="form-check-label" for="gridRadios5">
                        <p><strong>140 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 17.500</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="210" checked>
                      <label class="form-check-label" for="gridRadios6">
                        <p><strong>210 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 29.900</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios7" value="355" checked>
                      <label class="form-check-label" for="gridRadios7">
                        <p><strong>355 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 48.900</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios8" value="720" checked>
                      <label class="form-check-label" for="gridRadios8">
                        <p><strong>720 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 87.900</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios9" value="1440" checked>
                      <label class="form-check-label" for="gridRadios9">
                        <p><strong>1440 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; Rp 194.900</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios10" value="2000" checked>
                      <label class="form-check-label" for="gridRadios10">
                        <p><strong>2000 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; Rp 284.900</p>
                      </label>
                  </div>
                  <hr>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios11" value="mingguan" checked>
                      <label class="form-check-label" for="gridRadios11">
                        <p><strong>Mingguan</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; Rp 29.900</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios12" value="bulanan" checked>
                      <label class="form-check-label" for="gridRadios12">
                        <p><strong>Bulanan</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 117.900</p>
                      </label>
                  </div>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary container"><strong>B E L I</strong></button>
    </form>
</div>