<h5><center>Top Up Mobile Legends</center></h5>
<br>
<div class="d-flex justify-content-center">
    <form action="/register">
        <div class="card" style="width: 400px; height: 320; background-color: white;">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-8">
                        <label for="id"><strong>Player ID</strong></label>
                        <input type="id" class="form-control" id="id" name="id" placeholder="Player ID">
                        <input type="hidden" class="form-control" id="id" name="game" value="Mobile Legends">
                    </div>
                    <div class="col">
                        <label for="id"><strong>Server ID</strong></label>
                        <input type="id" class="form-control" name="serverId" placeholder="Server ID">
                    </div>
                  </div>
            </div>
        </div>
        <br>

        <div class="card" style="width: 400px; height: 320; background-color: white;">
            <div class="card-body">
                <div class="form-group">
                    <label for="id"><strong>Nominal Top Up</strong></label>
                    <br>
                    <br>

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="50" checked>
                      <label class="form-check-label" for="gridRadios1">
                        <p><strong>50 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Rp 14.900</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="85" checked>
                      <label class="form-check-label" for="gridRadios2">
                        <p><strong>85 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Rp 22.900</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="100" checked>
                      <label class="form-check-label" for="gridRadios3">
                        <p><strong>100 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 29.100</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="172" checked>
                      <label class="form-check-label" for="gridRadios4">
                        <p><strong>172 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 41.900</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="282" checked>
                      <label class="form-check-label" for="gridRadios5">
                        <p><strong>282 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 71.100</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="366" checked>
                      <label class="form-check-label" for="gridRadios6">
                        <p><strong>366 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;Rp 92.600</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios7" value="568" checked>
                      <label class="form-check-label" for="gridRadios7">
                        <p><strong>568 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&ensp; Rp 137.800</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios8" value="708" checked>
                      <label class="form-check-label" for="gridRadios8">
                        <p><strong>708 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&ensp; Rp 194.800</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios9" value="875" checked>
                      <label class="form-check-label" for="gridRadios9">
                        <p><strong>875 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;&emsp; Rp 229.800</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios10" value="966" checked>
                      <label class="form-check-label" for="gridRadios10">
                        <p><strong>966 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;&emsp; Rp 259.800</p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios10" value="1446" checked>
                      <label class="form-check-label" for="gridRadios10">
                        <p><strong>1446 Diamonds</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Rp 349.600</p>
                      </label>
                 </div>
                 <hr>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios12" value="starlight" checked>
                      <label class="form-check-label" for="gridRadios12">
                        <p><strong>Starlight</strong> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; Rp 135.900</p>
                      </label>
                  </div>
                </div>
            </div>
        </div>
        <br>
        <p><center>Mau harga seperti itu?<a href="/register"> Daftar Reseller</center></a></p>
        <button type="submit" class="btn btn-primary container"><strong>Daftar Reseller</strong></button>
    </form>
</div>