<h5><center>Top Up Mobile Legends <h3>DISKON</h3></center></h5>
<i style="color: red;"><center>DISKON BISA HABIS KAPANPUN</center></i>
<br>
<div class="d-flex justify-content-center">
    <form method="POST" action="/res-transaction">
        <div class="card" style="width: 400px; height: 320; background-color: white;">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-8">
                        <label for="id"><strong>Player ID</strong></label>
                        <input type="id" class="form-control" id="id" name="id" placeholder="Player ID" required>
                        <input type="hidden" class="form-control" id="id" name="game" value="Mobile Legends Diskon" required>
                    </div>
                    <div class="col">
                        <label for="id"><strong>Server ID</strong></label>
                        <input type="id" class="form-control" name="serverId" placeholder="Server ID">
                    </div>
                  </div>
            </div>
        </div>
        <br>

        <div class="card" style="width: 400px; height: 320; background-color: white;">
            <div class="card-body">
                <div class="form-group">
                    <label for="id"><strong>Nominal Top Up</strong></label>
                    <br>
                    <br>

                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="50" checked>
                      <label class="form-check-label" for="gridRadios1">
                        <p><strong>50 Diamonds</strong> &emsp; &emsp; &emsp; <i style="color: green;">Rp 14.600</i> &ensp;<s>Rp 14.900</s></p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="85" checked>
                      <label class="form-check-label" for="gridRadios2">
                        <p><strong>85 Diamonds</strong> &emsp; &emsp; &emsp; <i style="color: green;">Rp 20.900</i> &ensp;<s>Rp 22.900</s></p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="100" checked>
                      <label class="form-check-label" for="gridRadios3">
                        <p><strong>100 Diamonds</strong> &emsp; &emsp; &ensp; <i style="color: green;">Rp 28.700</i> &ensp;<s>Rp 29.100</s></p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="172" checked>
                      <label class="form-check-label" for="gridRadios4">
                        <p><strong>172 Diamonds</strong> &emsp; &emsp; &ensp; <i style="color: green;">Rp 40.200</i> &ensp;<s>Rp 41.900</s></p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="282" checked>
                      <label class="form-check-label" for="gridRadios5">
                        <p><strong>282 Diamonds</strong> &emsp; &emsp; &ensp; <i style="color: green;">Rp 69.700</i> &ensp;<s>Rp 71.100</s></p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="366" checked>
                      <label class="form-check-label" for="gridRadios6">
                        <p><strong>366 Diamonds</strong> &emsp; &emsp; &ensp; <i style="color: green;">Rp 89.800</i> &ensp;<s>Rp 92.600</s></p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios7" value="568" checked>
                      <label class="form-check-label" for="gridRadios7">
                        <p><strong>568 Diamonds</strong> &emsp; &emsp; <i style="color: green;">Rp 134.700</i>&ensp; <s>Rp 137.800</s></p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios8" value="708" checked>
                      <label class="form-check-label" for="gridRadios8">
                        <p><strong>708 Diamonds</strong> &emsp; &emsp; <i style="color: green;">Rp 179.800</i>&ensp; <s>Rp 194.800</s></p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios9" value="875" checked>
                      <label class="form-check-label" for="gridRadios9">
                        <p><strong>875 Diamonds</strong> &emsp; &emsp; <i style="color: green;">Rp 211.900</i>&ensp; <s>Rp 229.800</s></p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios10" value="966" checked>
                      <label class="form-check-label" for="gridRadios10">
                        <p><strong>966 Diamonds</strong> &emsp; &emsp; <i style="color: green;">Rp 241.400</i>&ensp; <s>Rp 259.800</s></p>
                      </label>
                  </div>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios10" value="1446" checked>
                      <label class="form-check-label" for="gridRadios10">
                        <p><strong>1446 Diamonds</strong> &emsp; &ensp; <i style="color: green;">Rp 327.600</i>&ensp; <s>Rp 349.600</s></p>
                      </label>
                 </div>
                 <hr>

                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios12" value="bulanan" checked>
                      <label class="form-check-label" for="gridRadios12">
                        <p><strong>Starlight</strong> &emsp; &emsp; &emsp; &emsp; <i style="color: green;">Rp 129.900</i>&ensp; <s>Rp 135.900</s></p>
                      </label>
                  </div>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary container"><strong>B E L I</strong></button>
    </form>
</div>